h1 {
  background: grey;
  text-align: center;
  color: black;
  margin: 0;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
  font-family: 'Noto Sans JP', sans-serif;
}

h2 {
  background: grey;
  text-align: center;
  color: black;
  margin: 0;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: 'Lexend Mega', sans-serif;
}


body {
  background: grey;
  text-align: center;
  color: black;
  margin: 0;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 10px;
  font-family: 'Noto Sans JP', sans-serif;
}



#nav a: link, #nav a:visited {
display: block;
color: #fffff;
background color: (98bf21);
}


.topnav {
  <font color = "rgb(255,255,255)">
  background-color: blue
  overflow: hidden;
