@font-face {
  font-family: Noto Sans JP;
  src: url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500&display=swap) format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Noto Sans JP;
  src: url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500&display=swap) format('woff');
  font-weight: bold;
  font-weight: 400;
}

@font-face {
  font-family: Lexend Mega;
  src: url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500&display=swap) format('woff');
  font-weight: normal;
}

@font-face {
  font-family: Lexend Mega;
  src: url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500&display=swap) format('woff');
  font-weight: bold;
}

h1 {
  background: rgb(166,178,184);
  text-align: center;
  color: black;
  margin: 0;
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Lexend Mega', sans-serif;
}

.card {
display:grid;
grid-template-columns: 1fr 1fr 1fr;
}

.card1 {
  grid-column:1/3;
}

img {
    display: inline-block;
    margin: 25px 10px;
  }

.navbar {
width: 100%;
font-weight: bold;
text-align: center;
overflow: hidden;
overflow: hidden;
padding: 1px 0px;
}

.menu_nav {
  background-color: rgb(170, 56, 30);
  font-size: 16px;
  padding: 1px 0px;
}


.topnav {
  background-color: rgb(170, 56, 30);
  font-size: 16px;
  padding: 1px 0px;
}

 .bottomnav {
   width: 100%;
   overflow: hidden;
   overflow: hidden;
   padding: 1px 0px;
   color: white;
   background-color: rgb(89, 39, 32);
   font-size: 14px;
   text-align: center;
   padding: 10px;
 }

 nav a:link {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }

nav a:active {
  color: black;
}

 nav a:visited {
   color: black;
 }

 nav a:hover {
   color: rgb(175,110,77);
 }


.campingimage {
  padding-right: 40px;
  padding-left:  40px;
}

.home {
text-align: left;
padding-left: 40px;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 0px;
font-size: 15px;
}

.p {
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

.p1 {
  text-align: left;
  align: left;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

.p2 {
  text-align: left;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

.p3 {
  text-align: left;
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 15px;
}

.graphic {
  padding-left: 20px;
  padding-right: 20px;
}

a:link {
  color: #2B300D;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #2B300D;
}

a:hover {
  color: rgb(175,110,77);
}

a:active {
  color: black;
}

ul {
  display: flex;
  list-style-type: none;
  list-style-position: inside;
  box-sizing: border-box;
}

li {
  width: 18%;
  margin: 1%;
  box-sizing: border-box;
}

h2 {
  background: rgb(166,178,184);
  text-align: center;
  font-weight: bold;
  color: black;
  margin: 0;
  width: 100%;
  font-size: 32px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: 'Lexend Mega', sans-serif;
}


h4 {
  color: white;
}

body {
  background: rgb(166,178,184);
  color: black;
  margin: 0;
  width: 100%;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
}

#menu_trigger {
  display: none;
}

@media (max-width: 700px) {
  ul {
    flex-direction: column;
  }

  li {
    width: 100%;
    text-align: left;
  }
  #menu_nav {
    display:none;
  }

  #menu_trigger {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
  }

}
