h1 {
  background: rgb(166,178,184);
  text-align: center;
  color: black;
  margin: 0;
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Lexend Mega', sans-serif;
}

.card {
display:grid;
grid-template-columns: 1fr 1fr 1fr;
}

.card1 {
  grid-column:1/3;
}

.navbar {
width: 100%;
text-align: center;
overflow: hidden;
overflow: hidden;
padding: 10px 0px;
}

.menu_nav {
  background-color: rgb(170, 56, 30);
  font-size: 16px;
}


.topnav {
  background-color: rgb(170, 56, 30);
  font-size: 16px;
}

 .bottomnav {
   color: white;
   background-color: rgb(89, 39, 32);
   font-size: 14px;
   text-align: center;
 }


.campingimage {
  padding-right: 40px;
  padding-left:  40px;
}

.home {
text-align: left;
padding-left: 40px;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 0px;
}

.p {
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
}

.p1 {
  text-align: left;
  align: left;
  padding-left: 40px;
  padding-right: 40px;
}

.p2 {
  text-align: left;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.graphic {
  padding-left: 20px;
  padding-right: 20px;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}

a:hover {
  color: rgb(175,110,77);
}

a:active {
  color: black;
}


h2 {
  background: rgb(166,178,184);
  text-align: center;
  color: black;
  margin: 0;
  width: 100%;
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: 'Lexend Mega', sans-serif;
}


h4 {
  color: white;
}

body {
  background: rgb(166,178,184);
  color: black;
  margin: 0;
  width: 100%;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
}

#menu_trigger {
  display: none;
}

@media (max-width: 700px) {
  ul {
    flex-direction: column;
  }

  li {
    width: 50%;
  }

}


#menu_nav {
  display:none;
}

#menu_trigger {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
}
