h1 {
  background: grey;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: 'Noto Sans JP', sans-serif;
}



.topnav {
  background-color: rgb(170, 56, 30);
  font-size: 18px;
  font color: rgb(255, 255, 255);
  background-color: blue
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  background: grey;
  text-align: center;
  color: black;
  margin: 0;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: 'Lexend Mega', sans-serif;
}


body {
  background: grey;
  text-align: center;
  color: black;
  margin: 0;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 10px;
  font-family: 'Noto Sans JP', sans-serif;
}
