body {
  background: grey;
  text-align: center;
  color: black;
  margin: 0;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
  font-family: 'Noto Sans JP', sans-serif;


}

nav {
  background: grey;
  border-bottom: 0px solid grey;
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  border: 0;
}

#nav a: link, #nav a:visited {
display: block;
color: #fffff;
background color: #98bf21;
``
}


.topnav {
  <font color = "rgb(255,255,255)">
  background-color = rgb()
  overflow: hidden;
