h1 {
  background: grey;
  text-align: center;
  color: black;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: 'Noto Sans JP', sans-serif;
}



.topnav {
  background-color: rgb(170, 56, 30);
  font-size: 18px;
  font color: white;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}

a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}

h2 {
  background: grey;
  text-align: center;
  color: black;
  margin: 0;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: 'Lexend Mega', sans-serif;
}


body {
  background: grey;
  text-align: center;
  color: black;
  margin: 0;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 10px;
  font-family: 'Noto Sans JP', sans-serif;
}
