body {
  background: grey;
  text-align: center;
  color: black;
  margin: 0;
  width: 100%;
  font-size: 10px;
  font-weight: bold;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;


}

nav {
  background: grey;
  border-bottom: 0px solid grey;
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  border: 0;
}
